.avatar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-item {
  position: relative;

  /* Adjust this value for more/less overlap */
  z-index: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.avatar-item-retracted {
  /* get margin from property retraction-distance */
  margin-left: var(--retraction-distance, -28px);
  transition: margin-left 0.3s ease;
}

.avatar-item_distance-small {
  margin-left: -42px;
}

.avatar-item_distance-medium {
  margin-left: -28px;
}

.avatar-item_distance-large {
  margin-left: -14px;
}

.avatar-item-hovered {
  /* animate margin to zero */
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.avatar-item:first-child {
  margin-left: 0;
}
